# DotNetCore Restore/Build/Test/Pack/Publish

variables:
  BuildConfiguration: Release
  
trigger:
- main

pool:
  vmImage: 'windows-latest'

steps:
- task: DotNetCoreCLI@2
  displayName: Restore
  inputs:
    command: restore
- task: DotNetCoreCLI@2
  displayName: Build
  inputs:
    command: build
    projects: 'SpecFlow.DependencyInjection'
    arguments: '--configuration $(BuildConfiguration)'
- task: DotNetCoreCLI@2
  displayName: Test .NET Framework 4.6.1
  inputs:
    command: test
    projects: 'SpecFlow.DependencyInjection.Tests'
    arguments: '--configuration $(BuildConfiguration) --framework net461'
- task: DotNetCoreCLI@2
  displayName: Test .NET Core 2.1
  inputs:
    command: test
    projects: 'SpecFlow.DependencyInjection.Tests'
    arguments: '--configuration $(BuildConfiguration) --framework netcoreapp2.1'
- task: DotNetCoreCLI@2
  displayName: Test .NET Core 3.1
  inputs:
    command: test
    projects: 'SpecFlow.DependencyInjection.Tests'
    arguments: '--configuration $(BuildConfiguration) --framework netcoreapp3.1'
- task: DotNetCoreCLI@2
  displayName: Pack
  inputs:
    command: pack
    packagesToPack: 'SpecFlow.DependencyInjection'
    nobuild: true
- task: PublishBuildArtifacts@1
  displayName: Publish
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)'
    ArtifactName: 'NuGet'
    publishLocation: 'Container'
